@page "/todo"
@inject HttpClient Http

<h3>Todo left to do (@apiTodos.Count(todo => !todo.complete))</h3>

<h5>API Todos</h5>

<input placeholder="new todo" @bind="newTodo" />
<button @onclick="AddTodo">Add Todo!</button>

<ul>
    @foreach (var todo in apiTodos)
    {
        <li>
            <input type="checkbox" @bind="todo.complete" />
            <input @bind="todo.title" />
            <button style="color: red;">X</button>
        </li>
    }
</ul>

@code {

    private List<TodoItem>? apiTodos = new();
    private string? newTodo;

    protected override async Task OnInitializedAsync()
    {
        apiTodos = await Http.GetFromJsonAsync<List<TodoItem>>("https://localhost:5001/api/TodoItems");
    }


    private async Task AddTodo()
    {
        if(!string.IsNullOrWhiteSpace(newTodo))
        {
            var addedTodo = new TodoItem { title = newTodo};
            apiTodos.Add(addedTodo);
            var res = await Http.PostAsJsonAsync("https://localhost:5001/api/TodoItems", addedTodo);
            newTodo = string.Empty;
            
        }
    }
}
